<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="inicio.css">
    <title>Diagrama</title>
   
</head>
<% include separacion/head.html%>

<body>
    <% include separacion/nav1.html%>
    <div class="contenedor">
        <header>
        <h1>Diagrama del Automata</h1>
        </header>
        <section>
            
            <article >
                <article class="contenedorleft"> 
                    <div class="contenedorleft2">
                            <li>Diagrama de Moore General:</li>
                          
             <auxiliar id="pantalla" width="960px" height="450px"> 
                    </auxiliar>
                   
                    
                   
                            <input type ="button" value="Siguiente" onclick="adelante()">
                            <img src="/img/foto1.jpg" id="foto">
                            <input type ="button" value="Atras" onclick="atras()">
                          
                            <input type ="button" value="Siguiente" onclick="adelante()">
                            <img src="/img/foto2.jpg" id="foto">
                            <input type ="button" value="Atras" onclick="atras()">
                      
                           
              
                    
        </section>
    </div>
    <footer class="contenedorleft">
      
      <div class="contenedorleft2">
              <li>By: Luis Eduardo Guillen Ruiz_</li>
      </div>
      
      <script type="text/javascript" src="./Diagrama.js"></script>
      <script src="Diagrama.js"></script>
      <script src="/Diagrama.js"></script>
      <script src="js/jquery.js"></script>
      <script src="js/bootstrap.min.js"></script>   
</body>
</html>
