<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Diagrama</title>
</head>
<% include separacion/head.html%>

<body>
    <% include separacion/nav1.html%>
    <div class="contenedor">
        <header>
        <h1>Diagrama del Automata</h1>
        </header>
        <section>
            
            <article >
                <article class="contenedorleft"> 
                    <div class="contenedorleft2">
                            <p>Diagrama que muestra el automata que analizo el documento:</p>
                          
             <auxiliar id="pantalla" width="960px" height="450px"> 
                    </auxiliar>
                   
                     <button onclick="revisar()" type="button">Mostrar</button>
        </section>
    </div>
    <footer class="contenedorleft">
      
      <div class="contenedorleft2">
              <li>By: Luis Eduardo Guillen Ruiz_</li>
      </div>
   
</body>
</html>
