<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="inicio.css">
    <title>Cargar Archivo</title>
    
    <% include separacion/head.html%>

</head>
<body>
    <% include separacion/nav1.html%>
    <!-- Creamos la divicion principal -->    
    <div class="modal-content col-xl-7 text-center">
        <!---Escribimos los titulos-->
        <div class="contenedor">
            <header>
            <h1>Seleccion de Documento TXT</h1>
            </header>  <div class="modal-content align-content-start"> 
        
                <div class="caja3">
                <input type="file" accept=".txt" id="file-input" (change)="onFileChange($event)"/>
            </div>
            <!--
                <pre id="contenido-archivo" name="contenido-archivo"></pre>  
            -->
            <textarea name="contenido-archivo" id="contenido-archivo" cols="40" rows="20" disabled="true">
  
            </textarea>
            <!-- Cargamos el script donde se encuentra el codigo html para cargar el input fyle
                donde tambien cargaremos el contenido en el contenedor 'contenido-archivo'--->
            <script src="./subir-archivo-texto.js" type="text/javascript"></script> 
            <script src="./enviar-archivo-back.js" type="text/javascript"></script> 
            
            </div>
            <!-- Lo mandamos al Backend-->
            <button onclick="verificar()" type="button" name="btnReconocer" id="btnReconocer">Reconocer</button>
            <pre id="contenido-archivo"></pre>
             <br>
            <!--Para establecer comunicacion con el Server --> 
            <input type="button" name="bote" id="getButton" value="Enviar" style="display:none"/><br>
                 
            <div class="contenedor2">
                <ul>No. fila
                    <div id="fila" class="elementos"></div>
                </ul>
                <ul>No. columna
                    <div id="columna" class="elementos"></div>
                </ul>
                <ul>Cadena
                    <div id="cadena" class="elementos"></div>
                </ul>
                <ul>tipo
                    <div id="tipo" class="elementos"></div>
                </ul>                
            </div>


            <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
            <!--<script src="./analizador.js"></script> -->
            <!--<script src="./enviar-archivo-back.js"></script>-->
            <script src="./leer.js"></script>
            <script src="./enviar-archivo-back.js"></script>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

            
            
        </div>        
        
    <!--script src="./leer.js" type="text/javascript"></script-->
</body>

</html>