<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Analizador Lexico</title>
  
    <% include separacion/head.html%>
</head>
<body>
    <% include separacion/nav1.html%>
  
    
    <div class="contenedor">
        <header>
        <h1>Centro Universitario de Occidente "CUNOC"</h1>
        <h1>  </h1>
        <h1>  </h1>
        <h1>Analizador Léxico de un Compilador</h1>
        
        </header>
        <section>
            
            <article >
                <article class="contenedor"> 
                    <div class="contenedor1">
                            <h2>Primer Proyecto de Lenguajes Formales Formales y de Programación</h2>
                          
             </section>
    </div>
    <footer class="contenedorleft">
      <p>Autor</p>
      
      <div class="contenedorleft2">
              <li>Luis Eduardo Guillen Ruiz</li>
      </div>
   
      <h5>201744792</h5>
      <h6>Implementado Control de Versiones</h6>

      <div class="contenedorleft2">
          <ul>
              <div id="GIT"></div>
               <li>Manejador Github_</li>
               
          </ul>
      </div>
</body>
</html>
</body>
</html>